@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
/*===========
  General
  ===========*/
/*============
  Fonts Colors
  ============*/
/*=============
  Fonts Family
  =============*/
/*==================
  Table of Contents
  ==================*/
/*
  1. General
  2. Main Card Container
  3. Card Container
  4. Card Info
  5. Card Image
  6. Attribution
  */
/*===========
  General
  ===========*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-size: 16px;
}

h1 {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
}

h1 span {
  color: #aa5cdb;
}

p {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h2 {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.5;
}

h2 span {
  display: block;
  font-family: "Lexend Deca", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
}

/*==================
  Main Card Container
  ====================*/
.main-container {
  background-color: #090b1a;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*==================
      Card Container
  ====================*/
.card-container {
  background-color: #1b1938;
  width: 1100px;
  max-height: 700px;
  min-height: 450px;
  margin: 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
}

/*==================
      Card Info 
  ====================*/
.card-info {
  width: 60%;
  padding: 80px 50px 0 80px;
}

.card-info p {
  line-height: 2;
  margin-top: 30px;
  margin-bottom: 60px;
  margin-right: 25px;
}

.card-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 30px;
  margin-bottom: 60px;
}

/*==================
      Card Image 
  ====================*/
img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0 10px 10px 0;
}

.card-image {
  position: relative;
}

.overlay {
  position: absolute;
  background-color: #5e0099;
  width: 100%;
  height: 100%;
  top: 0%;
  opacity: 0.4;
  border-radius: 0 10px 10px 0;
}

/*==================
      Attribution
  ====================*/
.attribution {
  font-size: 11px;
  text-align: center;
  background-color: #090b1a;
  color: white;
}

.attribution a {
  color: #3e52a3;
}

/*===========================================================
                                Media
  =============================================================*/
@media only screen and (max-width: 1028px) {
  /*==================
        General
  ====================*/
  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.7rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h2 span {
    font-size: 0.7rem;
  }
  /*====================
   Main Card Container
  ======================*/
  .main-container {
    height: 150%;
  }
  /*==================
      Card Container
  ====================*/
  .card-container {
    margin: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  /*==================
      Card Info 
  ====================*/
  .card-info-header {
    margin: 0 20px;
  }
  .card-info {
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 20px;
  }
  .card-info p {
    line-height: 2;
    margin: 20px 20px;
  }
  .card-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .card-stats h2 {
    margin-bottom: 30px;
  }
  /*==================
      Card Image 
  ====================*/
  img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-bottom: -4px;
  }
  .overlay {
    height: 100%;
    border-radius: 10px 10px 0 0;
  }
  /*==================
      Attribution
  ====================*/
  .attribution {
    font-size: 11px;
    text-align: center;
    background-color: #090b1a;
    color: white;
  }
  .attribution a {
    color: #3e52a3;
  }
}
/*# sourceMappingURL=style.css.map */